<!doctype html>

<html>
<head>
	<title>Buy Buddy</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
       
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/introHCI.js"></script>
	{{> facebook}}
	<script src="/js/facebook.js"></script>
</head>

<body>
	<div class="container">
		{{> appname}}
			<div class="project" id="Login">
			<div align="center">
				<label for="username">Username:</label>
				<input type="text" id="username" name="username">
			</div>
			<br>
			<div align="center">
				<label for="pass">Password:</label>
				<input type="password" id="pass" name="password" required>
			</div>
			<br>
				<a href="/menu" class="thumbnail">
					<p style=";font-size:20px;"><b>Login</b></p>
				</a>
			</div>
			
			<span class="facebookLogin">Or login through Facebook:</span>
			<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
			</fb:login-button>
	</div>
</body>
</html>
