<!doctype html>

<html>
<head>
	<title>HCI Project Portfolio</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
	<div class="container">
		<!-- h1 through h6 are headers. The higher the number, the smaller the header -->
		<!-- p means paragraph -->
		<div style=";font-size:12px;" align="right">
			<button onclick="goBack()">Go Back</button>
		</div>
		<script>
		function goBack() {
		  window.history.back();
		}
		</script>
		
		<div align="middle">
			<h1>Where To Eat</h1>
		</div>

		<h4 style=";font-size:30px;" align="center"><b>Search</b></h4>
		
		<div>
			<img src="/images/map.jpg" alt="Temp Map" class="centerImage" style="width:250px;height:300px;">
		</div>

		<hr>
			
		<div align="center" class='searchMenu'>
			<div>Start Location:</div>
			<input placeholder='Location'></input>
			<br>Use My Current Location<br><br>
			<div>End Location:</div>
			  <input placeholder='Location'></input>
			  <br>Use My Current Location<br><br>
			<div><input class='formSubmit' type='submit' value="Next"></div>
		</div>
		
		<div align="center" class='hidden'>
		
			<div class="row">
			  <div class="column">Departure Time:</div>
			  <div class="column">Arrival Time:</div>
			</div>
			<div class="row">
			  <div class="column">
				<input type='time' class='shortInput'></input>
			  </div>
			  <div class="column">
				<input type='time' class='shortInput'></input>
			  </div>
			</div>
			<br>
			
			<div><input type='submit' class='advanced' value="Advanced Options"></div>
			
			<div class='hidden2'>
				<div class="row">
				  <div class="column">Food Perference:</div>
				  <div class="column">Transportation:</div>
				</div>
				<div class="row">
				  <div class="column">
					<select class='ui dropdown'>
						<option value='0'>Preference</option>
					</select>
				  </div>
				  <div class="column">
					<select class='ui dropdown'>
						<option value='0'>Transport</option>
					</select>
				  </div>
				</div>
				<br>
				<div class="row">
				  <div class="column">Budget:</div>
				  <div class="column">Dining Time:</div>
				</div>
				<div class="row">
				  <div class="column">
					<i class="fa fa-user icon">$</i>
					<input step='0.01' class='shortInput'></input>
				  </div>
				  <div class="column">
					<input type="number "placeholder='Minutes' class='shortInput'></input>
				  </div>
				</div>
			</div>
				
			<br>
			<form action='Results'>
				<div><input type='submit' class='search' value="Find Me A Resturaunt"></div>
			</form>
		</div>
		
	</div>
	
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/introHCI.js"></script>
</body>
</html>
